<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SISGEBO </title>

    <!-- Bootstrap core CSS -->

    <link href="/media/css/bootstrap.min.css" rel="stylesheet">

    <link href="/media/fonts/css/font-awesome.min.css" rel="stylesheet">
    <link href="/media/css/animate.min.css" rel="stylesheet">

    <!-- Custom styling plus plugins -->
    <link href="/media/css/custom.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/media/css/maps/jquery-jvectormap-2.0.1.css" />
    <link href="/media/css/icheck/flat/green.css" rel="stylesheet" />
    <link href="/media/css/floatexamples.css" rel="stylesheet" type="text/css" />

    <script src="/media/js/jquery.min.js"></script>
    <script src="/media/js/nprogress.js"></script>
    <script>
        NProgress.start();
    </script>
    
    <!--[if lt IE 9]>
        <script src="../assets/js/ie8-responsive-file-warning.js"></script>
        <![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>


<body class="nav-md">

    <div class="container body">


        <div class="main_container">

            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">

                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"> <span>SISGEBO</span></a>
                    </div>
                    <div class="clearfix"></div>

                    <!-- menu prile quick info -->

                    <!-- /menu prile quick info -->

                    <br />



                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">

                <div class="nav_menu">
                    <nav class="" role="navigation">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>


                    </nav>
                </div>

            </div>
            <!-- /top navigation -->


            <!-- page content -->
            <div class="right_col" role="main">

                <!-- top tiles -->
                    <a class="bg-danger" href="/depreciacao/">Anterior</a>
                    <a class="bg-danger" href="/custo_fixo/">Próximo</a>

                <!-- /top tiles -->
                <h4 style="font-weight:bolder;">EVOLUÇÃO DO REBANHO</h4> 
                <span style="top:18%; left:20%; position:absolute; font-weight:bolder;">Nr. Matrizes </span>
                <span style="top:21%; left:20%; position:absolute;">Peso Médio / Kg</span>
                <span style="top:24%; left:20%; position:absolute; font-weight:bolder">Nr. Novilhos > 14 @</span>
                <span style="top:27%; left:20%; position:absolute;">Peso Médio / Kg</span>
                <span style="top:30%; left:20%; position:absolute; font-weight:bolder">Nr. Novilhos 12 a 14 @ / Kg</span>
                <span style="top:33%; left:20%; position:absolute;">Peso Médio / Kg</span>
                <span style="top:36%; left:20%; position:absolute; font-weight:bolder">Nr. Novilhos até 12 @ / Kg</span>
                <span style="top:39%; left:20%; position:absolute;">Peso Médio / Kg</span>
                <span style="top:42%; left:20%; position:absolute; font-weight:bolder">Nr. Novilhas até 12 @ / Kg</span>
                <span style="top:45%; left:20%; position:absolute;">Peso Médio / Kg</span>
                <span style="top:48%; left:20%; position:absolute; font-weight:bolder">Nr. Bezerros / Kg</span>
                <span style="top:51%; left:20%; position:absolute; ">Peso Médio / Kg</span>
                <span style="top:54%; left:20%; position:absolute;font-weight:bolder">Nr. Bezerras / Kg</span>
                <span style="top:57%; left:20%; position:absolute;">Peso Médio / Kg</span>
                <span style="top:60%; left:20%; position:absolute;font-weight:bolder">Nr. Outros / Kg</span>
                <span style="top:63%; left:20%; position:absolute;">Peso Médio / Kg</span>
                <span style="top:66%; left:20%; position:absolute;font-weight:bolder">Nr. Equideos / Kg</span>
                <span style="top:69%; left:20%; position:absolute;">Peso Médio / Kg</span>
                <span style="top:72%; left:20%; position:absolute;font-weight:bolder">TOTAL (CABEÇAS) / Kg</span>
                <span style="top:75%; left:20%; position:absolute;font-weight:bolder">Peso Médio / Kg</span>
                <span style="top:78%; left:20%; position:absolute;font-weight:bolder">Eestoque em @ / Kg</span>
                <span style="top:81%; left:20%; position:absolute;font-weight:bolder">Área Útil (ha) / Kg</span>
                <span style="top:84%; left:20%; position:absolute;font-weight:bolder">Dens. de Lot. (cab/ha)</span>
                <span style="top:87%; left:20%; position:absolute;font-weight:bolder">Taxa de Lotação (UA/ha)</span>

                <span style="top:15%; left:35%; position:absolute; font-weight:bolder; font-size:9px;">JANEIRO</span>
                <span style="top:15%; left:40%; position:absolute; font-weight:bolder; font-size:9px;">FEVEREIRO</span>
                <span style="top:15%; left:45%; position:absolute; font-weight:bolder; font-size:9px;">MARÇO</span>
                <span style="top:15%; left:50%; position:absolute; font-weight:bolder; font-size:9px;">ABRIL</span>
                <span style="top:15%; left:55%; position:absolute; font-weight:bolder; font-size:9px;">MAIO</span>
                <span style="top:15%; left:60%; position:absolute; font-weight:bolder; font-size:9px;">ABRIL</span>
                <span style="top:15%; left:65%; position:absolute; font-weight:bolder; font-size:9px;">JUNHO</span>
                <span style="top:15%; left:70%; position:absolute; font-weight:bolder; font-size:9px;">JULHO</span>
                <span style="top:15%; left:75%; position:absolute; font-weight:bolder; font-size:9px;">AGOSTO</span>
                <span style="top:15%; left:80%; position:absolute; font-weight:bolder; font-size:9px;">SETEMBRO</span>
                <span style="top:15%; left:85%; position:absolute; font-weight:bolder; font-size:9px;">OUTUBRO</span>
                <span style="top:15%; left:90%; position:absolute; font-weight:bolder; font-size:9px;">NOVEMBRO</span>
                <span style="top:15%; left:95%; position:absolute; font-weight:bolder; font-size:9px;">MÉDIA</span>

                <span style="top:18%; left:35%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:18%; left:40%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:18%; left:45%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:18%; left:50%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:18%; left:55%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:18%; left:60%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:18%; left:65%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:18%; left:70%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:18%; left:75%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:18%; left:80%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:18%; left:85%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:18%; left:90%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:18%; left:95%; position:absolute; font-weight:bolder;">form </span>

                <span style="top:21%; left:35%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:21%; left:40%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:21%; left:45%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:21%; left:50%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:21%; left:55%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:21%; left:60%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:21%; left:65%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:21%; left:70%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:21%; left:75%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:21%; left:80%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:21%; left:85%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:21%; left:90%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:21%; left:95%; position:absolute; font-weight:bolder;">form </span>

                <span style="top:24%; left:35%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:24%; left:40%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:24%; left:45%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:24%; left:50%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:24%; left:55%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:24%; left:60%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:24%; left:65%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:24%; left:70%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:24%; left:75%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:24%; left:80%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:24%; left:85%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:24%; left:90%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:24%; left:95%; position:absolute; font-weight:bolder;">form </span>

                <span style="top:27%; left:35%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:27%; left:40%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:27%; left:45%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:27%; left:50%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:27%; left:55%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:27%; left:60%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:27%; left:65%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:27%; left:70%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:27%; left:75%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:27%; left:80%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:27%; left:85%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:27%; left:90%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:27%; left:95%; position:absolute; font-weight:bolder;">form </span>

                <span style="top:30%; left:35%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:30%; left:40%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:30%; left:45%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:30%; left:50%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:30%; left:55%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:30%; left:60%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:30%; left:65%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:30%; left:70%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:30%; left:75%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:30%; left:80%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:30%; left:85%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:30%; left:90%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:30%; left:95%; position:absolute; font-weight:bolder;">form </span>

                <span style="top:33%; left:35%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:33%; left:40%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:33%; left:45%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:33%; left:50%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:33%; left:55%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:33%; left:60%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:33%; left:65%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:33%; left:70%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:33%; left:75%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:33%; left:80%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:33%; left:85%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:33%; left:90%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:33%; left:95%; position:absolute; font-weight:bolder;">form </span>

                <span style="top:36%; left:35%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:36%; left:40%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:36%; left:45%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:36%; left:50%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:36%; left:55%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:36%; left:60%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:36%; left:65%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:36%; left:70%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:36%; left:75%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:36%; left:80%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:36%; left:85%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:36%; left:90%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:36%; left:95%; position:absolute; font-weight:bolder;">form </span>

                <span style="top:39%; left:35%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:39%; left:40%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:39%; left:45%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:39%; left:50%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:39%; left:55%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:39%; left:60%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:39%; left:65%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:39%; left:70%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:39%; left:75%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:39%; left:80%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:39%; left:85%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:39%; left:90%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:39%; left:95%; position:absolute; font-weight:bolder;">form </span>

                <span style="top:42%; left:35%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:42%; left:40%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:42%; left:45%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:42%; left:50%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:42%; left:55%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:42%; left:60%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:42%; left:65%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:42%; left:70%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:42%; left:75%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:42%; left:80%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:42%; left:85%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:42%; left:90%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:42%; left:95%; position:absolute; font-weight:bolder;">form </span>

                <span style="top:45%; left:35%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:45%; left:40%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:45%; left:45%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:45%; left:50%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:45%; left:55%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:45%; left:60%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:45%; left:65%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:45%; left:70%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:45%; left:75%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:45%; left:80%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:45%; left:85%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:45%; left:90%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:45%; left:95%; position:absolute; font-weight:bolder;">form </span>

                <span style="top:48%; left:35%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:48%; left:40%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:48%; left:45%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:48%; left:50%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:48%; left:55%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:48%; left:60%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:48%; left:65%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:48%; left:70%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:48%; left:75%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:48%; left:80%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:48%; left:85%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:48%; left:90%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:48%; left:95%; position:absolute; font-weight:bolder;">form </span>

                <span style="top:51%; left:35%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:51%; left:40%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:51%; left:45%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:51%; left:50%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:51%; left:55%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:51%; left:60%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:51%; left:65%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:51%; left:70%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:51%; left:75%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:51%; left:80%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:51%; left:85%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:51%; left:90%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:51%; left:95%; position:absolute; font-weight:bolder;">form </span>

                <span style="top:54%; left:35%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:54%; left:40%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:54%; left:45%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:54%; left:50%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:54%; left:55%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:54%; left:60%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:54%; left:65%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:54%; left:70%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:54%; left:75%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:54%; left:80%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:54%; left:85%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:54%; left:90%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:54%; left:95%; position:absolute; font-weight:bolder;">form </span>

                <span style="top:57%; left:35%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:57%; left:40%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:57%; left:45%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:57%; left:50%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:57%; left:55%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:57%; left:60%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:57%; left:65%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:57%; left:70%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:57%; left:75%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:57%; left:80%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:57%; left:85%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:57%; left:90%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:57%; left:95%; position:absolute; font-weight:bolder;">form </span>

                <span style="top:60%; left:35%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:60%; left:40%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:60%; left:45%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:60%; left:50%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:60%; left:55%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:60%; left:60%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:60%; left:65%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:60%; left:70%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:60%; left:75%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:60%; left:80%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:60%; left:85%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:60%; left:90%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:60%; left:95%; position:absolute; font-weight:bolder;">form </span>

                <span style="top:63%; left:35%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:63%; left:40%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:63%; left:45%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:63%; left:50%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:63%; left:55%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:63%; left:60%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:63%; left:65%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:63%; left:70%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:63%; left:75%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:63%; left:80%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:63%; left:85%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:63%; left:90%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:63%; left:95%; position:absolute; font-weight:bolder;">form </span>

                <span style="top:66%; left:35%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:66%; left:40%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:66%; left:45%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:66%; left:50%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:66%; left:55%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:66%; left:60%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:66%; left:65%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:66%; left:70%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:66%; left:75%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:66%; left:80%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:66%; left:85%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:66%; left:90%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:66%; left:95%; position:absolute; font-weight:bolder;">form </span>

                <span style="top:69%; left:35%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:69%; left:40%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:69%; left:45%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:69%; left:50%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:69%; left:55%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:69%; left:60%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:69%; left:65%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:69%; left:70%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:69%; left:75%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:69%; left:80%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:69%; left:85%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:69%; left:90%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:69%; left:95%; position:absolute; font-weight:bolder;">form </span>

                <span style="top:72%; left:35%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:72%; left:40%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:72%; left:45%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:72%; left:50%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:72%; left:55%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:72%; left:60%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:72%; left:65%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:72%; left:70%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:72%; left:75%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:72%; left:80%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:72%; left:85%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:72%; left:90%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:72%; left:95%; position:absolute; font-weight:bolder;">form </span>

                <span style="top:75%; left:35%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:75%; left:40%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:75%; left:45%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:75%; left:50%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:75%; left:55%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:75%; left:60%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:75%; left:65%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:75%; left:70%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:75%; left:75%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:75%; left:80%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:75%; left:85%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:75%; left:90%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:75%; left:95%; position:absolute; font-weight:bolder;">form </span>

                <span style="top:78%; left:35%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:78%; left:40%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:78%; left:45%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:78%; left:50%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:78%; left:55%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:78%; left:60%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:78%; left:65%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:78%; left:70%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:78%; left:75%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:78%; left:80%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:78%; left:85%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:78%; left:90%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:78%; left:95%; position:absolute; font-weight:bolder;">form </span>

                <span style="top:81%; left:35%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:81%; left:40%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:81%; left:45%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:81%; left:50%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:81%; left:55%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:81%; left:60%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:81%; left:65%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:81%; left:70%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:81%; left:75%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:81%; left:80%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:81%; left:85%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:81%; left:90%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:81%; left:95%; position:absolute; font-weight:bolder;">form </span>

                <span style="top:84%; left:35%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:84%; left:40%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:84%; left:45%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:84%; left:50%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:84%; left:55%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:84%; left:60%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:84%; left:65%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:84%; left:70%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:84%; left:75%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:84%; left:80%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:84%; left:85%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:84%; left:90%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:84%; left:95%; position:absolute; font-weight:bolder;">form </span>

                <span style="top:87%; left:35%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:87%; left:40%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:87%; left:45%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:87%; left:50%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:87%; left:55%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:87%; left:60%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:87%; left:65%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:87%; left:70%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:87%; left:75%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:87%; left:80%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:87%; left:85%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:87%; left:90%; position:absolute; font-weight:bolder;">form </span>
                <span style="top:87%; left:95%; position:absolute; font-weight:bolder;">form </span>

                


               




                <br />

                <div class="row">


                    {% block tres %}{% endblock %}

                    </div>
                                                {% block quatro %}{% endblock %}

                    <div class="col-md-4 col-sm-4 col-xs-12">

                    </div>

                </div>


                <div class="row">


                    <div class="col-md-8 col-sm-8 col-xs-12">




                        <div class="row">


                            <!-- Start to do list -->

                            <!-- End to do list -->


                            <!-- start of weather widget -->
                            <div class="col-md-6 col-sm-6 col-xs-12">


                            </div>
                            <!-- end of weather widget -->
                        </div>


                    </div>

                </div>

                <!-- footer content -->

                <footer>
                    <div class="">
                        <p class="pull-right">Sistema de gerenciamento de gado de corte <a>SISGEBO</a>. |
                            <span class="lead"> <i class="fa fa-paw"></i> TCC</span>
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            </div>
            <!-- /page content -->

        </div>

    </div>

    <div id="custom_notifications" class="custom-notifications dsp_none">
        <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
        </ul>
        <div class="clearfix"></div>
        <div id="notif-group" class="tabbed_notifications"></div>
    </div>

    <script src="/media/js/bootstrap.min.js"></script>

    <!-- gauge js -->
    <script src="/media/js/numero_piquete_categoria.js"></script>
    <script src="/media/js/area_piquetes_machos.js"></script>
    <script src="/media/jsPASTAGENS/zzzzzzzzzzzzzzpastaegem/area_piquetes_femeas.js"></script>
    <script src="/media/jsPASTAGENS/zzzzzzzzzzzzzzpastaegem/area_aniamais_6_12.js"></script>
    <script src="/media/jsPASTAGENS/zzzzzzzzzzzzzzpastaegem/area_animais_12_21.js"></script>
    <script src="/media/jsPASTAGENS/zzzzzzzzzzzzzzpastaegem/area_total_piquetes.js"></script>
    <script src="/media/js/zzzzzzzzzzzzzzzzzzzzzconfinamentos/ganho_diario.js"></script>
    <script type="text/javascript" src="/media/js/gauge/gauge.min.js"></script>
    <script type="text/javascript" src="/media/js/gauge/gauge_demo.js"></script>
    <!-- chart js -->
    <script src="/media/js/chartjs/chart.min.js"></script>
    <!-- bootstrap progress js -->
    <script src="/media/js/progressbar/bootstrap-progressbar.min.js"></script>
    <script src="/media/js/nicescroll/jquery.nicescroll.min.js"></script>
    <!-- icheck -->
    <script src="/media/js/icheck/icheck.min.js"></script>
    <!-- daterangepicker -->
    <script type="text/javascript" src="/media/js/moment.min.js"></script>
    <script type="text/javascript" src="/media/js/datepicker/daterangepicker.js"></script>

    <script src="/media/js/custom.js"></script>

    <!-- flot js -->
    <!--[if lte IE 8]><script type="text/javascript" src="js/excanvas.min.js"></script><![endif]-->
    <script type="text/javascript" src="/media/js/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="/media/js/flot/jquery.flot.pie.js"></script>
    <script type="text/javascript" src="/media/js/flot/jquery.flot.orderBars.js"></script>
    <script type="text/javascript" src="/media/js/flot/jquery.flot.time.min.js"></script>
    <script type="text/javascript" src="/media/js/flot/date.js"></script>
    <script type="text/javascript" src="/media/js/flot/jquery.flot.spline.js"></script>
    <script type="text/javascript" src="/media/js/flot/jquery.flot.stack.js"></script>
    <script type="text/javascript" src="/media/js/flot/curvedLines.js"></script>
    <script type="text/javascript" src="/media/js/flot/jquery.flot.resize.js"></script>
    <script>
        $(document).ready(function () {
            // [17, 74, 6, 39, 20, 85, 7]
            //[82, 23, 66, 9, 99, 6, 2]
            var data1 = [[gd(2012, 1, 1), 17], [gd(2012, 1, 2), 74], [gd(2012, 1, 3), 6], [gd(2012, 1, 4), 39], [gd(2012, 1, 5), 20], [gd(2012, 1, 6), 85], [gd(2012, 1, 7), 7]];

            var data2 = [[gd(2012, 1, 1), 82], [gd(2012, 1, 2), 23], [gd(2012, 1, 3), 66], [gd(2012, 1, 4), 9], [gd(2012, 1, 5), 119], [gd(2012, 1, 6), 6], [gd(2012, 1, 7), 9]];
            $("#canvas_dahs").length && $.plot($("#canvas_dahs"), [
                data1, data2
            ], {
                series: {
                    lines: {
                        show: false,
                        fill: true
                    },
                    splines: {
                        show: true,
                        tension: 0.4,
                        lineWidth: 1,
                        fill: 0.4
                    },
                    points: {
                        radius: 0,
                        show: true
                    },
                    shadowSize: 2
                },
                grid: {
                    verticalLines: true,
                    hoverable: true,
                    clickable: true,
                    tickColor: "#d5d5d5",
                    borderWidth: 1,
                    color: '#fff'
                },
                colors: ["rgba(38, 185, 154, 0.38)", "rgba(3, 88, 106, 0.38)"],
                xaxis: {
                    tickColor: "rgba(51, 51, 51, 0.06)",
                    mode: "time",
                    tickSize: [1, "day"],
                    //tickLength: 10,
                    axisLabel: "Date",
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: 'Verdana, Arial',
                    axisLabelPadding: 10
                        //mode: "time", timeformat: "%m/%d/%y", minTickSize: [1, "day"]
                },
                yaxis: {
                    ticks: 8,
                    tickColor: "rgba(51, 51, 51, 0.06)"
                },
                tooltip: false
            });

            function gd(year, month, day) {
                return new Date(year, month - 1, day).getTime();
            }
        });
    </script>

    <!-- worldmap -->
    <script type="text/javascript" src="/media/js/maps/jquery-jvectormap-2.0.1.min.js"></script>
    <script type="text/javascript" src="/media/js/maps/gdp-data.js"></script>
    <script type="text/javascript" src="/media/js/maps/jquery-jvectormap-world-mill-en.js"></script>
    <script type="text/javascript" src="/media/js/maps/jquery-jvectormap-us-aea-en.js"></script>
    <script>
        $(function () {
            $('#world-map-gdp').vectorMap({
                map: 'world_mill_en',
                backgroundColor: 'transparent',
                zoomOnScroll: false,
                series: {
                    regions: [{
                        values: gdpData,
                        scale: ['#E6F2F0', '#149B7E'],
                        normalizeFunction: 'polynomial'
                    }]
                },
                onRegionTipShow: function (e, el, code) {
                    el.html(el.html() + ' (GDP - ' + gdpData[code] + ')');
                }
            });
        });
    </script>
    <!-- skycons -->
    <script src="/media/js/skycons/skycons.js"></script>
    <script>
        var icons = new Skycons({
                "color": "#73879C"
            }),
            list = [
                "clear-day", "clear-night", "partly-cloudy-day",
                "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
                "fog"
            ],
            i;

        for (i = list.length; i--;)
            icons.set(list[i], list[i]);

        icons.play();
    </script>

    <!-- dashbord linegraph -->
    <script>
        var doughnutData = [
            {
                value: 30,
                color: "#455C73"
            },
            {
                value: 30,
                color: "#9B59B6"
            },
            {
                value: 60,
                color: "#BDC3C7"
            },
            {
                value: 100,
                color: "#26B99A"
            },
            {
                value: 120,
                color: "#3498DB"
            }
    ];
        var myDoughnut = new Chart(document.getElementById("canvas1").getContext("2d")).Doughnut(doughnutData);
    </script>
    <!-- /dashbord linegraph -->
    <!-- datepicker -->
    <script type="text/javascript">
        $(document).ready(function () {

            var cb = function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                //alert("Callback has fired: [" + start.format('MMMM D, YYYY') + " to " + end.format('MMMM D, YYYY') + ", label = " + label + "]");
            }

            var optionSet1 = {
                startDate: moment().subtract(29, 'days'),
                endDate: moment(),
                minDate: '01/01/2012',
                maxDate: '12/31/2015',
                dateLimit: {
                    days: 60
                },
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                opens: 'left',
                buttonClasses: ['btn btn-default'],
                applyClass: 'btn-small btn-primary',
                cancelClass: 'btn-small',
                format: 'MM/DD/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Submit',
                    cancelLabel: 'Clear',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            };
            $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#reportrange').daterangepicker(optionSet1, cb);
            $('#reportrange').on('show.daterangepicker', function () {
                console.log("show event fired");
            });
            $('#reportrange').on('hide.daterangepicker', function () {
                console.log("hide event fired");
            });
            $('#reportrange').on('apply.daterangepicker', function (ev, picker) {
                console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
            });
            $('#reportrange').on('cancel.daterangepicker', function (ev, picker) {
                console.log("cancel event fired");
            });
            $('#options1').click(function () {
                $('#reportrange').data('daterangepicker').setOptions(optionSet1, cb);
            });
            $('#options2').click(function () {
                $('#reportrange').data('daterangepicker').setOptions(optionSet2, cb);
            });
            $('#destroy').click(function () {
                $('#reportrange').data('daterangepicker').remove();
            });
        });
    </script>
    <script>
        NProgress.done();
    </script>
    <!-- /datepicker -->
    <!-- /footer content -->
</body>

</html>
