{% extends 'index.html' %}
{% block um %}
    Pastagens
{% endblock %}

{% block dois %}
    <div class="alert" style="position: absolute; left: 35%;font-size: large;">
    <span>anos</span>
    <span style="top: 95%;left: -85%;;position: absolute;">1</span>
    <span style="top: 95%;left: -15%;;position: absolute;">2</span>
    <span style="top: 95%;left: 65%;;position: absolute;">3</span>
    <span style="top: 95%;left: 135%;;position: absolute;">4</span>
    <span style="top: 95%;left: 205%;;position: absolute;">5</span>
    <span style="top: 95%;left: 275%;;position: absolute;">6</span>
    <span style="top: 95%;left: 345%;;position: absolute;">7</span>
    <span style="top: 95%;left: 415%;;position: absolute;">8</span>
    <span style="top: 95%;left: 485%;;position: absolute;">9</span>
    <span style="top: 95%;left: 555%;;position: absolute;">10</span>
    <span style="top: 95%;left: 625%;;position: absolute;">11</span>
    </div>
    <span style="top: 30%;position: absolute;">Área pasto ano 1(ha)</span>

        <form method="post" action="." >
            <div style="top: 30%; left: 30%; position: absolute; ">
            {{ form.area_pasto }}
            </div>
        </form>

    <span style="top: 35%;position: absolute;">Área a comprar(ha)</span>
    <span style="top: 40%;position: absolute;">Área a formar(ha)</span>
    <span style="top: 45%;position: absolute;">Cap. suporte(UA/ha) </span>

<!--
    Os campos que estão logo a baixo com divs soltos devem receber javascrip em um span
-->


            <div style="top: 45%; left: 30%; position: absolute; ">
            {{ form.cap_suporte }}
            </div>



            <div style="top: 45%; left: 34%; position: absolute; ">
            {{ form.cap_suporte2 }}
            </div>



            <div style="top: 45%; left: 37%; position: absolute; ">
            {{ form.cap_suporte3 }}
            </div>


            <div style="top: 35%; left: 30%; position: absolute; ">
            {{ form.area_a_comprar }}
            </div>



            <div style="top: 40%; left: 34%; position: absolute; ">
            {{ form.areas_formar }}
            </div>



            <div style="top: 40%; left: 38%; position: absolute; ">
            {{ form.areas_formar2 }}
            </div>



            <div style="top: 40%; left: 41%; position: absolute; ">
            {{ form.areas_formar3 }}
            </div>



            <div style="top: 40%; left: 45%; position: absolute; ">
            {{ form.areas_formar4 }}
            </div>



            <div style="top: 40%; left: 48%; position: absolute; ">
            {{ form.areas_formar5 }}
            </div>


            <div style="top: 40%; left: 52%; position: absolute; ">
            {{ form.areas_formar6 }}
            </div>


            <div style="top: 40%; left: 56%; position: absolute; ">
            {{ form.areas_formar7 }}
            </div>


            <div style="top: 40%; left: 59%; position: absolute; ">
            {{ form.areas_formar8 }}
            </div>


            <div style="top: 40%; left: 63%; position: absolute; ">
            {{ form.areas_formar9 }}
            </div>


            <div style="top: 40%; left: 67%; position: absolute; ">
            {{ form.areas_formar10 }}
            </div>


            <div style="top: 40%; left: 71%; position: absolute; ">
            {{ form.areas_formar11 }}
            </div>






            <div style="top: 35%; left: 34%; position: absolute; ">
            {{ form.area_a_comprar2 }}
            </div>


            <div style="top: 35%; left: 38%; position: absolute; ">
            {{ form.area_a_comprar3 }}
            </div>


            <div style="top: 35%; left: 41%; position: absolute; ">
            {{ form.area_a_comprar4 }}
            </div>


            <div style="top: 35%; left: 45%; position: absolute; ">
            {{ form.area_a_comprar5 }}
            </div>


            <div style="top: 35%; left: 48%; position: absolute; ">
            {{ form.area_a_comprar6 }}
            </div>


            <div style="top: 35%; left: 52%; position: absolute; ">
            {{ form.area_a_comprar7 }}
            </div>


            <div style="top: 35%; left: 56%; position: absolute; ">
            {{ form.area_a_comprar8 }}
            </div>


            <div style="top: 35%; left: 59%; position: absolute; ">
            {{ form.area_a_comprar9 }}
            </div>


            <div style="top: 35%; left: 63%; position: absolute; ">
            {{ form.area_a_comprar10 }}
            </div>


            <div style="top: 35%; left: 67%; position: absolute; ">
            {{ form.area_a_comprar11 }}
            </div>




            <div style="top: 45%; left: 41%; position: absolute; ">
            {{ form.cap_suporte4 }}
            </div>



            <div style="top: 45%; left: 45%; position: absolute; ">
            {{ form.cap_suporte5 }}
            </div>


            <div style="top: 45%; left: 49%; position: absolute; ">
            {{ form.cap_suporte6 }}
            </div>

            <div style="top: 45%; left: 53%; position: absolute; ">
            {{ form.cap_suporte7 }}
            </div>


            <div style="top: 45%; left: 57%; position: absolute; ">
            {{ form.cap_suporte8 }}
            </div>


            <div style="top: 45%; left: 61%; position: absolute; ">
            {{ form.cap_suporte9 }}
            </div>



            <div style="top: 45%; left: 64%; position: absolute; ">
            {{ form.cap_suporte10 }}
            </div>


            <div style="top: 45%; left: 68%; position: absolute; ">
            {{ form.cap_suporte11 }}
            </div>


    <span style="top: 50%;position: absolute;">Aluguel(R$/cab/mes) </span>
        <form method="post" action="." >
            <div style="top: 50%; left: 30%; position: absolute; ">
            {{ form.aluguel }}
            </div>
        </form>

{% endblock %}

{% block tres %}
    <span style="top:60%;position: absolute;">Especificação do planejamento</span>
    <span style="top:65%;left: 40%;;position: absolute;">Peso kg</span>
    <span style="top:68%;position: absolute;">número machos</span><span style="top:68%;left: 35%;position: absolute;">{{ form.n_machos }}</span>
    <span style="top:68%;position: absolute;"></span><span style="top:68%;left: 40%;position: absolute;">{{ form.peso_machos_kg }}</span>
    <span style="top:71%;position: absolute;">número de femeas</span><span style="top:71%;left: 35%;position: absolute;">{{ form.n_femeas }}</span>
    <span style="top:71%;position: absolute;"></span><span style="top:71%;left: 40%;position: absolute;">{{ form.peso_femeas_kg }}</span>
    <span style="top:74%;position: absolute;">tempo de descanso</span><span style="top:74%;left: 35%;position: absolute;">{{ form.tempo_descanso }}</span>
    <span style="top:77%;position: absolute;">tempo de pastejo</span><span style="top:77%;left: 35%;position: absolute;">{{ form.tempo_pastejo }}</span>
    <span style="top:80%;position: absolute;">número de animais 6 - 12 meses</span><span style="top:80%;left: 35%;position: absolute;">{{ form.animais6_12 }}</span>
    <span style="top:80%;position: absolute;">número de animais 6 - 12 meses</span><span style="top:80%;left: 40%;position: absolute;">{{ form.peso_animais6_12_kg }}</span>
    <span style="top:83%;position: absolute;">número de animais 12 - 21 meses</span><span style="top:83%;left: 35%;position: absolute;">{{ form.animais12_21 }}</span>
    <span style="top:83%;position: absolute;">número de animais 12 - 21 meses</span><span style="top:83%;left: 40%;position: absolute;">{{ form.peso_animais12_21_kg }}</span>

{% endblock %}

{% block quatro %}
    <span style="top:60%;left: 60%;position: absolute;">Planejamento de pastagens</span>
    <span style="top:65%;left: 70%;position: absolute;">Área cada piquete</span>
    <span style="top:70%;left: 50%;position: absolute;">Número piquetes por categoria</span><span style="top:70%;left: 65%;position: absolute;">{{ form.n_piquetes_categoria }}</span>
    <span style="top:75%;left: 50%;position: absolute;">Área piquetes machos (ha)</span><span style="top:75%;left: 65%;position: absolute;">{{ form.area_piquetes_machos_hectare }}</span><span style="top:75%;left: 70%;position: absolute;">{{ form.razao_area_piquete_categoria_piquete_machos }}</span>

    <span style="top:80%;left: 50%;position: absolute;">Área piquetes femeas (ha)</span><span style="top:80%;left: 65%;position: absolute;">{{ form.area_piquetes_femeas_hectare }}</span><span style="top:80%;left: 70%;position: absolute;">{{ form.razao_area_piquete_categoria_piquete_femeas }}</span>
    <span style="top:85%;left: 50%;position: absolute;">Área piquetes animais 6 - 12 m</span><span style="top:85%;left: 65%;position: absolute;">{{ form.area_piquetes_animais6_12 }}</span><span style="top:85%;left: 70%;position: absolute;">{{ form.razao_area_piquete_categoria_piquete_animais6_12 }}</span>
    <span style="top:90%;left: 50%;position: absolute;">Área piquetes animais 12 -21 m</span><span style="top:90%;left: 65%;position: absolute;">{{ form.area_piquetes_animais12_21 }}</span><span style="top:90%;left: 70%;position: absolute;">{{ form.razao_area_piquete_categoria_piquete_animais12_21 }}</span>
    <span style="top:95%;left: 50%;position: absolute;">Área total de piquetes (ha)</span><span style="top:95%;left: 65%;position: absolute;">{{ form.area_piquetes_total_hectare }}</span>
    <span style="top:100%;left: 50%;position: absolute;">Área a comprar (ha)</span><span style="top:100%;left: 65%;position: absolute;">{{ form.area_comprar_hectare }}</span>

{% endblock %}